<!doctype html>
<title>New keypair</title>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>

<div class="naviPanelDiv"> 
    <div class="naviPanelTitleDiv">
        <span>
            <h1>Oblivious Directional Addressing System - 2FA </h1>
        </span>
    </div>
</div>

{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if "error" in category %}
        <div class="flash {{ category }}" style="color:red;background-color: darkgrey;">{{message}}</div> 
    {% endif %}
{% endfor %}

<div class="mainKeygenDiv">
    <span>
         <h2> 
            Please write the code from your Google Authenticator app:
        </h2> 
        <form method="post" enctype="text/plain">
            <input type="number" name="totp" required>
            <input type="submit" name="submitTOTP" value="Send!">   
        </form>
    </span>
</div>
</body>