<!doctype html>
<title>New keypair</title>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>

<div class="naviPanelDiv"> 
    <div class="naviPanelTitleDiv">
        <span>
            <h1><a href="/">Oblivious Directional Addressing System</a> - Generate new keypair </h1>
            <h2>Hello {{session['username']}}</h2>
        </span>
    </div>
    <div class="logoutDiv">
        <span>
            Logged in as: {{ session['username'] }} 
            <form action={{url_for('logoutUser')}} method="post">
                <input type="submit" name="logout" value="Logout">   
            </form>
        </span>
    </div>
</div>

<!-- {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "send_success" %}
        <div class="flash {{ category }}" style="color:lime;background-color: darkgrey;">{{message}}</div> 
    {% endif %}
{% endfor %} -->


<div class="mainKeygenDiv">
    <span>
         <h1> 
            Unfortunately this feature is not developed yet :( 
            <!-- Click the button below to generate a new keypair! -->
        </h1> 
        <!-- <form method="post" enctype="multipart/form-data">
            <input type="submit" name="keygen" value="Generate">   
        </form> -->
    </span>
</div>

<br>

<br>


</body>