<!doctype html>
<title>Login</title>

<head></head>
<body>
<h1>Oblivious Directional Addressing System - Login page</h1>

Please input your credentials to log in.

{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "error" %}
        <div class="flash {{ category }}" style="color:red;background-color: darkgrey">{{message}}</div> 
    {% elif category == "success" %}
        <div class="flash {{ category }}" style="color:lime;background-color: darkgrey">{{message}}</div> 
    {% endif %}
{% endfor %}

<form method=post enctype=multipart/form-data>
    <input type="text" id="unam" name="unam" required> <br>
    <input type="password" id="pass" name="pass" required> <br>
    <input type="submit" value="Log in">
</form>

<br>

Haven't registered yet? 

<br>

<form method="post" enctype="multipart/form-data">
    <input type="submit" id="register" name="register" value="Click here to register">
</form>

</body>