<!doctype html>
<title>Main page</title>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>

<div class="naviPanelDiv"> 
    <div class="naviPanelTitleDiv">
        <span>
            <h1>Oblivious Directional Addressing System - Welcome! </h1>
            <h2>Hello {{session['username']}}, what would you like to do today?</h2>
        </span>
    </div>
    <div class="logoutDiv">
        <span>
            Logged in as: {{ session['username'] }} 
            <form action={{url_for('logoutUser')}} method="post">
                <input type="submit" name="logout" value="Logout">   
            </form>
        </span>
    </div>
</div>

{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "send_success" %}
        <div class="flash {{ category }}" style="color:lime;background-color: darkgrey;">{{message}}</div> 
    {% endif %}
{% endfor %}


<div class="mainSendMessageDiv">
    <span>
        <h1>
            <a href="/send">Send a message!</a>
        </h1>
    </span>
</div>

<div class="mainReadMessagesDiv">
    <span>
        <h1>
            <a href="/messages">Your inbox!</a>
        </h1>
    </span>
</div>

<div class="mainKeygenDiv">
    <span>
         <h1> Generate a new key pair <form method="post" enctype="multipart/form-data">
            <input type="submit" name="keygen" value="Generate">   
        </form>
    </h1> 
    </span>
</div>


<!-- <div class="fileinputDiv">
    <span>
        Input attachment
        <form class="fileInputForm" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </span>
</div> -->
<br>

<br>


</body>