<!doctype html>
<title>Download QR</title>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>

<div class="naviPanelDiv"> 
    <div class="naviPanelTitleDiv">
        <span>
            <h1><a href="/">Oblivious Directional Addressing System</a> - Registration complete! </h1>
            <h2>Hello {{session['username']}}</h2>
        </span>
    </div>
</div>

{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if "success" in category %}
        <div class="flash {{ category }}" style="color:lime;background-color: darkgrey;">{{message}}</div> 
    {% endif %}
{% endfor %}


<div class="mainKeygenDiv">
    <span>
         <h2> 
            Please scan the following QR code with a Google Authenticator app. It will be necessary for later login!
        </h2>
        
        <img src="data:image/png;base64,{{session['qr_code']}}"  onerror="null">
        <p>Or enter the key manually: <code>{{session['secret_otp']}}</code></p>

        <h2>Once the Authenticator creates codes, you can <a href="/logout">go to logout.</a></h2>

    </span>
</div>
</body>