<!doctype html>
<title>Registration</title>

<head></head>
<body>
<h1>Oblivious Directional Addressing System - Registration form</h1>
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if "_success" in category %}  
        <div class="flash {{ category }}" style="color:lime;background-color: darkgrey">{{message}}</div> 
    {% elif "_error" in category %}
        <div class="flash {{ category }}" style="color:red;background-color: darkgrey">{{message}}</div> 
    {% endif %}
{% endfor %}
<form method=post enctype=multipart/form-data>
    <input type="text" id="unam" name="unam"> <br>
    <input type="password" id="pass" name="pass"> <br>
    <input type="submit" value="Upload">
</form>

Your password should:
<ul>
    <li>
        Contain at least 12 characters;
    </li>
    <li>
        Contain at least 2 capital letters;
    </li>
    <li>
        Contain at least 1 number digit;
    </li>
    <li>
        Contain at least 2 special characters: !"#$%&'()*+,-./:;<=>?@[\]^_
    </li>
</ul>
</body>
