<!doctype html>
<title>Send a message</title>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>

<div class="naviPanelDiv"> 
    <div class="naviPanelTitleDiv">
        <span>
            <h1><a href="/">Oblivious Directional Addressing System</a> - Send a message</h1>
        </span>
    </div>
    <div class="logoutDiv">
        <span>
            Logged in as: {{ session['username'] }} 
            <form action={{url_for('logoutUser')}} method="post">
                <input type="submit" name="logout" value="Logout">   
            </form>
        </span>
    </div>
</div>

{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if "error" in category %}
        <div class="flash {{ category }}" style="color:red;background-color: darkgrey">{{message}}</div> 
    {% elif "success" in category %}
        <div class="flash {{ category }}" style="color:lime;background-color: darkgrey">{{message}}</div> 
    {% endif %}
{% endfor %}

<div>
    <form method="post" enctype="multipart/form-data">
        <select class="recSelect" id="recSelect" type="text" name="recSelect" required>
            <option disabled selected>Select recipient!</option>
            {% for rec in recipients%}
                <option>{{rec}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="text" name="message_title" id="message_title" placeholder="Title" requred> <br> 
        <textarea rows="25" cols="120" placeholder="Input your message here!" id="message" name="message" required></textarea>
        <br>
        <span>
            <h4>Attachments:</h4> 
            <input type="file" name="send_attachment" id="send_attachment">
        </span> 
        <br>
        <br>
        <input type=submit value="Send!">
    </form>
</div>

<br>



</body>