
/* navi panel */
.naviPanelDiv {
    min-width: 100%;
    min-height: 80px;
}
.naviPanelTitleDiv {
    display: inline-flex;
    float:center;
    text-align:center;
    align-self: center;
    /* max-width:75% */
}
.logoutDiv {
    display:inline-flex;
    float: right;
    align-self: top;
    text-align: right;
}


/* main page */

.mainSendMessageDiv {
    display:inline-flex;
    float:left;
    background-color: #25d729;
    color: #000000;
    margin:5px;
    padding: 20px;
}

.mainReadMessagesDiv {
    display:inline-flex;
    float:left;
    background-color: #fb33ea;
    color: #000000;
    margin:5px;
    padding: 20px;
}

.mainKeygenDiv {
    float: left;
    background-color: #a05403;
    color: purple;
    /* min-width: 100%; */
    margin: 5px;
    padding:20px;
}


/* messages */
.msgsUnread {
    color:#9f40ff
}

.msgsUnreadMsgDiv {
    background: #e5a80b;
    max-width: 750px;
    padding: 1px;
    margin:2px;
    border-style:solid;
    border-width: 1px;
    border-color: rgba(26,26,26,0.5)
}

.msgsReadMsgDiv {
    background: #e5a80b;
    max-width: 750px;
    padding: 1px;
    margin: 2px;
    border-style:solid;
    border-width:1px;
    border-color: rgba(26,26,26,0.5)
}


/* miscellaneous */
.fileinputDiv {
    float: left;
    color: darkred;
    min-width: 100%;
    margin: 20px;
}
.fileInputForm {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color:black;
    background-color: darkgrey;
    width:fit-content;
}
