
/* navi panel */
.naviPanelDiv {
    min-width: 100%;
    min-height: 80px;
}
.naviPanelTitleDiv {
    display: inline-flex;
    float:center;
    text-align:center;
    align-self: center;
    /* max-width:75% */
}
.logoutDiv {
    display:inline-flex;
    float: right;
    align-self: top;
    text-align: right;
}


/* main page */

.mainSendMessageDiv {
    display:inline-flex;
    float:left;
    background-color: #25d729;
    color: #000000;
    margin:5px;
    padding: 20px;
}

.mainReadMessagesDiv {
    display:inline-flex;
    float:left;
    background-color: #fb33ea;
    color: #000000;
    margin:5px;
    padding: 20px;
}

.mainKeygenDiv {
    float: left;
    background-color: #a05403;
    color: purple;
    /* min-width: 100%; */
    margin: 5px;
    padding:20px;
}


/* messages */
.msgsRead {
    color:#9f40ff
}

.msgsUnread{
    color: #235f0b;
}

.msgsReadMsgDiv {
    background: #502080;
    max-width: 750px;
    padding: 10px;
    margin:2px;
    color: #f3f3f3;
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(26,26,26,0.5)
}

.msgsUnreadMsgDiv {
    background: #3ea813;
    max-width: 750px;
    padding: 10px;
    margin: 2px;
    border-style:solid;
    border-width:1px;
    border-radius: 10px;
    border-color: rgba(26,26,26,0.5)
}

.msgsMsgActionDel {
    background-color: #970404;
    color:#f3f3f3;
    margin-right:7px;
}

.msgsMsgActionDet {
    background-color: #0008a7;
    color:#f3f3f3;
    margin-left:7px;
    margin-right: 7px;
}

.msgsMsgActionRead {
    background-color: #fff100;
    color:#000000;
    margin-left:7px;
}


/* message details */
.msgMainDiv{
    padding:10px;
    border-radius:10px;
    background-color: #6f6f6f;
    max-width: 750px;
    vertical-align: top;
    flex-direction: column;
    display:flex;
}

.msgMessageTitle {
    display:inline-flex;
    padding:10px;
    margin:2px;
    border-radius:10px;
    background-color: #c6c6c6;
}

.msgMessage{
    display:inline-flex;
    padding:10px;
    margin:2px;
    margin-top:5px;
    border-radius:10px;
    background-color: #c6c6c6;
}

.msgMessageSender {
    display:inline-flex;
    padding:10px;
    margin:2px;
    border-radius:10px;
    background-color: #c6c6c6;
}

.msgAttachmentDiv {
    display:inline-flex;
    padding:10px;
    margin:2px;
    border-radius:10px;
    background-color: #c6c6c6;
}

.invalid_sign {
    color: #ffffff;
    background: #ff0000;
    padding: 10px;
    margin:10px; 
    margin-left: 0px;
    max-width: 750px;
}



/* miscellaneous */
.fileinputDiv {
    float: left;
    color: darkred;
    min-width: 100%;
    margin: 20px;
}
.fileInputForm {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color:black;
    background-color: darkgrey;
    width:fit-content;
}
