<!doctype html>
<title>Login</title>

<head></head>
<body>
<h1>Obvious Directional Addressing System - Login page</h1>

Please input your credentials to log in.

{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="flash {{ category }}" style="color:red">{{message}}</div> 
{% endfor %}

<form method=post enctype=multipart/form-data>
    <input type="text" id="unam" name="unam"> <br>
    <input type="password" id="pass" name="pass"> <br>
    <input type="submit" value="Upload">
</form>

<br>

Haven't registered yet? 

<br>

<form method="post" enctype="multipart/form-data">
    <input type="submit" id="register" name="register" value="Click here to register">
</form>

</body>