<!doctype html>
<title>Your messages</title>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>

<div class="naviPanelDiv"> 
    <div class="naviPanelTitleDiv">
        <span>
            <h1>Oblivious Directional Addressing System - Messages</h1>
            <h2>Hello {{session['username']}}, here are your messages:</h2>
        </span>
    </div>
    <div class="logoutDiv">
        <span>
            Logged in as: {{ session['username'] }} 
            <form action={{url_for('logoutUser')}} method="post">
                <input type="submit" name="logout" value="Logout">   
            </form>
        </span>
    </div>
</div>

<br>

<div class="msgsMainDiv">
    <div class="msgsUnreadDiv">
        <span>
            <h2 class="msgsUnread"> Unread messages: </h2>
        </span>
        {% for message in session['unread_msgs'] %}
            <div class="msgsUnreadMsgDiv">
                from: {{message[0]}} <br>
                message: {{message[2]}}
                {% if message[3] is not none %}
                    <div class="msgAttachmentDiv">
                        <form action={{url_for('download_attachment')}} method="post">
                            <input type="hidden" name="filename" value="{{message[3]}}">
                            <input type="hidden" name="filestream" value="{{message[4]}}">
                            <input type="submit" value="Download attachment">
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="msgsReadDiv">
        <span>
            <h2 class="msgsUnread"> Read messages: </h2>
        </span>
        {% for message in session['read_msgs'] %}
            <div class="msgsReadMsgDiv">
                from: {{message[0]}} <br>
                message: {{message[2]}}
                {% if message[3] is not none %}
                    <div class="msgAttachmentDiv">
                        <form action={{url_for('download_attachment')}} method="post">
                            <input type="hidden" name="filename" value="{{message[3]}}">
                            <input type="hidden" name="filestream" value="{{message[4]}}">
                            <input type="submit" value="Download attachment">
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<br>



</body>