<!doctype html>
<title>Your messages</title>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>

<div class="naviPanelDiv"> 
    <div class="naviPanelTitleDiv">
        <span>
            <h1><a href="/">Oblivious Directional Addressing System</a> - Messages</h1>
            <h2>Hello {{session['username']}}, here are your messages:</h2>
        </span>
    </div>
    <div class="logoutDiv">
        <span>
            Logged in as: {{ session['username'] }} 
            <form action={{url_for('logoutUser')}} method="post">
                <input type="submit" name="logout" value="Logout">   
            </form>
        </span>
    </div>
</div>

<br>

{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "delete_success" %}
        <div class="flash {{ category }}" style="color:lime">{{message}}</div> 
    {% endif %}
{% endfor %}


<div class="msgsMainDiv">
    <div class="msgsUnreadDiv">
        <span>
            <h2 class="msgsUnread"> Unread messages: </h2>
        </span>
        {% for message in session['unread_msgs'] %}
            <div class="msgsUnreadMsgDiv">
                <form class="msgsFormDeleteMsg" name="deleteMessage" action={{url_for('delete_message_app')}} method="post">
                    <input type="hidden" name="msg_id" value="{{message[0]}}">
                    <input class="msgsMsgActionRead" type="submit" name="msgAction" value="MARead">
                    <input class="msgsMsgActionDel" type="submit" name="msgAction" value="Delete">
                    <input class="msgsMsgActionDet" type="submit" name="msgAction" value="Details">
                </form>
                <span>from: {{message[4]}}, date: {{message[3]}}</span> <br>
                <span>title: {{message[2]}}</span>
            </div>
        {% endfor %}
    </div>
    <div class="msgsReadDiv">
        <span>
            <h2 class="msgsRead"> Read messages: </h2>
        </span>
        {% for message in session['read_msgs'] %}
            <div class="msgsReadMsgDiv">
                <form class="msgsFormDeleteMsg" name="deleteMessage" action={{url_for('delete_message_app')}} method="post">
                    <input type="hidden" name="msg_id" value="{{message[0]}}">
                    <input class="msgsMsgActionDel" type="submit" name="msgAction" value="Delete">
                    <input class="msgsMsgActionDet" type="submit" name="msgAction" value="Details">
                </form>
                <span>from: {{message[4]}}, date: {{message[3]}} </span> <br>
                <span>title: {{message[2]}} </span>
            </div>
        {% endfor %}
    </div>
</div>

<br>



</body>